.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="file"] {
    margin-bottom: 20px;
}

#chatLog {
    border: 1px solid #ccc;
    overflow-y: scroll;
    background-color: #f9f9f9;
    margin-bottom: 10px;

    display: flex;
    flex-flow: column;
    gap: 2px;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 1em 2em;
    align-items: center;
}

#chatSection {
    margin-top: 20px;

    min-height: 400px;
}

.chat-log {
    text-decoration: underline;
    font-weight: bold;
    color: #007bff;
}

.chat-question {
    text-decoration: none;
    color: black;
    align-self: flex-end;
    font-weight: bold;
}

.chat-answer {
    text-decoration: none;
    color: black;
    align-self: flex-start;
}
